﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="MailFormat.aspx.cs" Inherits="MailFormat" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
        <br /><br />
        From         
        <asp:TextBox ID="TxtFrom" runat="server"></asp:TextBox>
        <br /><br />
        TO        
        <asp:TextBox ID="TxtTo" runat="server"></asp:TextBox>
        <br /><br />
        Subject<asp:TextBox ID="TxtSubject" runat="server"></asp:TextBox>
        <br /><br />
        BodyFileName<asp:TextBox ID="TxtBody" runat="server"></asp:TextBox>
        <br /><br />
        AttachedFileName<asp:TextBox ID="TxtAttchedFileName" runat="server"></asp:TextBox>
        <br /><br />
        <asp:Button ID="TestSend" runat="server" Text="TestSend" OnClick="TestSend_Click" />
    </div>
        <div>
        <br />
        <br />
        <asp:FileUpload ID="FileUpload1" runat="server" />
        <br /><br />
        <asp:FileUpload ID="FileUpload2" runat="server" />
        <br />
        <asp:Button ID="TestUpload" runat="server" Text="TestUpload" OnClick="TestUpload_Click" /><br />
        </div>
        <br />
        <asp:Button ID="BtnFileShow" runat="server" Text="FileShow" OnClick="BtnFileShow_Click" />
        <br /><br />
        <asp:Label ID="Label1" runat="server"></asp:Label><br /><br />
        <asp:Label ID="Label2" runat="server"></asp:Label><br /><br />
         <asp:Label ID="Label3" runat="server"></asp:Label><br /><br />
        <div id="divFile" runat="server"><span></span><br /></div>
    </form>
</body>
</html>
