﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="childPage_UserControl.ascx.cs" Inherits="childPage_UserControl" %>
 <asp:Repeater ID="Repeater1" runat="server">

     <ItemTemplate>
            <a href='<%# ResolveUrl( Eval("Page_url").ToString()) %>'><%# Eval("Page_name")%></a><br />
      </ItemTemplate>     
           
            
</asp:Repeater>
